{% extends "generic.html" %}
{% load render_table from django_tables2 %}


{% block content %}

<div>

	<ul>{{customer.own_spz}}</ul>
	<ul>{{customer.full_name}}</ul>
	<ul>{{customer.short_name}}</ul>
	<ul>{{customer.post_adress}}</ul>
        <ul>{{customer.telefon}}</ul>
	
{% comment %}
    url = models.TextField(blank=True)
    own_spz = models.BigIntegerField(null=True, blank=True)
    polnomochie_org = models.TextField(blank=True)
    full_name = models.TextField(blank=True)
    short_name = models.TextField(blank=True)
    inn = models.BigIntegerField(null=True, blank=True)
    kpp = models.TextField(blank=True)
    org_type = models.TextField(blank=True)
    org_level = models.TextField(blank=True)
    buget_code = models.BigIntegerField(null=True, blank=True)
    buget_name = models.TextField(blank=True)
    admin_prin_spz = models.BigIntegerField(null=True, blank=True)
    admin_prin_name = models.TextField(blank=True)
    upper_org_spz = models.BigIntegerField(null=True, blank=True)
    okopf = models.BigIntegerField(null=True, blank=True)
    okogu = models.BigIntegerField(null=True, blank=True)
    okpo = models.BigIntegerField(null=True, blank=True)
    okved = models.TextField(blank=True)
    ogrn = models.BigIntegerField(null=True, blank=True)
    place = models.TextField(blank=True)
    okato = models.BigIntegerField(null=True, blank=True)
    upoln_organ = models.TextField(blank=True)
    telefon = models.TextField(blank=True)
    fax = models.TextField(blank=True)
    post_adress = models.TextField(blank=True)
    email = models.TextField(blank=True)
    contact_person = models.TextField(blank=True)
    timezone = models.TextField(blank=True)
    innetaddress = models.TextField(blank=True)
    additional_info = models.TextField(blank=True)
    upper_org_name = models.TextField(blank=True)
    id = models.BigIntegerField(primary_key=True)
{% endcomment %}

</div>
<table class="table table-hover">                                            
{% for contract in contracts %}
	 <tr> 
            <td>
                 <b>Номер контракта:</b><a href="/obj/Contr/{{contract.uid}}">{{contract.regnum}}</a> </br>
                 {% with contract.contrcustomer_set.all|first as customer %}
                 <b>Заказчик:</b> <a href="/customers/{{customer.regnum}}">{{customer.fullname}}</a> </br>
                 {% endwith %}
                 {% with contract.contrproducts_set.all|first as products %}
                        {% with products.contrproductsproduct_set.all|first as product %}     
                 	<b>Прeдмет:</b> {{product.name}}</br>
                        {% endwith %}
                 {% endwith %}  
                 <b>Дата заключения:</b> {{contract.signdate}} </br>
                 {% with contract.contrexecution_set.all|first as execution %}
                 <b>Срок исполнения до:</b> {{execution.year}}-{{execution.month}}</br>
                 {% endwith %}
            </td>
            <td>
                <div class="pull-right">
                 {{contract.price}}
                </div>
            </td>
         </tr>
{% endfor %}
</table>


    <ul class="pagination">
        {% if contracts.has_previous %}
           <li> <a href="?page={{ contracts.previous_page_number }}&order={{order}}">Prev</a></li>
        {% endif %}
           <li> <a> Page {{ contracts.number }} from {{ contracts.paginator.num_pages }}.</a></li>
        {% if contracts.has_next %}
           <li> <a href="?page={{ contracts.next_page_number }}&order={{order}}">Next</a> </li>
        {% endif %}
    </ul>



{% endblock %}
