{% block contents %}
  {% if object %}
   
    <h1>Contracts details</h1>
    <ul>
    <li> UID:{{object.order_uid}} </li>
    <li> Code:{{object.code}} </li>
    <li> Name:{{object.name}} </li> 
    <li> Currentstage:{{object.currentcontractstage}} </li>
    <li> Dicumentbase:{{object.documentbase}} </li>
    <li> Month:{{object.month}} </li>
    <li> Year:{{object.year}} </li>
    <li> Foundation:{{object.foundation }} </li>
    <li> Notification Number:{{object.notificationnumber }} </li>
    <li> Placing:{{object.placing }}</li>
    <li> SingleCustomer:{{object..singlecustomer}} </li>
    <li> ID:{{object.id }} </li>
    <li> Price:{{object.price}} </li> 
    <li> URL::<a href={{object.url}}>URL</a> </li>
    <li> ProtocolDate:{{object.protocoldate }} </li>
    <li> PublishDate:{{object.publishdate}}</li>
    <li> RegNum:{{object.regnum}}  </li> 
    <li> SingDate:{{object.signdate}} </li> 
    <li> version:{{object.versionnumber}} </li>
    <li> number:{{object.number}} </li>
    </ul>
{% endif %}
{% endblock %}
